@font-face {
  font-display: swap;
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/chakra-petch-regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/chakra-petch-bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-stretch: 75% 100%;
  font-style: normal;
  font-weight: 300 800;
  src: url("/assets/open-sans.ttf") format("truetype-variations");
}
